[Desktop Entry]
Encoding=UTF-8
Name=WeyCoin Core
Comment=Connect to the WeyCoin P2P Network
Comment[de]=Verbinde mit dem WeyCoin peer-to-peer Netzwerk
Comment[fr]=WeyCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=WeyCoin, eşten eşe kriptografik sanal para birimi
Exec=weycoin-qt %u
Terminal=false
Type=Application
Icon=weycoin128
MimeType=x-scheme-handler/weycoin;
Categories=Office;Finance;
